@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');
:root{
    --background: #07161b;
    --secondary:#3d737f;
    --text: #cec7bf;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Exo', sans-serif;
    background-color: var(--background);
        color: var(--text);
}

#logo{
    background-image: linear-gradient(--text, #f0d1d1);
    width: fit-content;
    font-size: 3rem;
    font-weight: 900;
    margin: 10px 20px;
}
.navbar-toggler{
    margin: 10px 20px;
}
/* nav-icon */
.nav-icon {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.nav-icon span {
    background-color: var(--text);
    position: absolute;
    border-radius: 1px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 3px;
    transition-duration: 500ms
}

.nav-icon span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.nav-icon span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
}

.nav-icon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.nav-icon:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
    background-color: var(--text);
}

.nav-icon:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
    background-color: var(--text);
}

.nav-icon:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
    background-color: var(--text);
}

.nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
    background-color: var(--text);
    z-index: 3;
}

.nav-icon.open span:nth-child(2) {
    opacity: 0;
}

.nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
    background-color: var(--text);
    z-index: 3;
}

.nav-icon.open #collapsibleNavbar {
    display: contents;
}
/* #pageNav, .nav2{
    width: 100vw;
    display: flex;
    justify-self: center;
    align-self: center;

} */
.nav-item a{
    color: var(--text);
    background-color: var(--background);
    font-weight: bolder;
    font-size: 5vh;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    /* margin: 0 auto; */
    height: 25vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 0;
    -moz-transition: -moz-transform .55s cubic-bezier(0, .35, 0, 1), background-color .15s ease-out .1s;
    -o-transition: -o-transform .55s cubic-bezier(0, .35, 0, 1), background-color .15s ease-out .1s;
    -webkit-transition: -webkit-transform .55s cubic-bezier(0, .35, 0, 1), background-color .15s ease-out;
    -webkit-transition-delay: 0s, .1s;
    transition: transform .55s cubic-bezier(0, .35, 0, 1), background-color .15s ease-out .1s;
}
.nav-item:hover a{
    background-color: var(--text);
    color: var(--secondary);
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: #050a0c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    padding: 5px 5px;
    gap: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
    background: transparent;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#name2{
        color: var(--text);
        margin-left: 2%;
        font-size: 4rem;
        font-weight: 1000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: transparent;
}
 /* Cursor */
 .txt-type>.txt {
     border-right: 0.2rem solid #777;
 }